/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1E1E1E;
    background: #f8f6f4;
    letter-spacing: -3%;
    height: auto;
  }
  
  /* Header */
  header {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
  }

  .upper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .lower-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 14%;
  }

  nav a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .school-name {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 1.25rem;
  }



  .language-toggle {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  .language{
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 500;
  }

  #en{
    background-color: #f8f6f4;
    border-radius: 0;
    border: 1px solid #f27405;
    color:#f27405;
  }

  #fr{
    background-color: #f27405;
    border-radius: 0;
    border: 1px solid #f27405;
    color:#f8f6f4;
  } 

  /* Hero */
  .hero {
    padding: 40px;
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: start;
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
  }
  /* Info Cards */
  .info-cards {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
  }
  
  .card.blue { background: #122667; }
  .card.light-blue { background: #0B5DA7; }
  .card.yellow { background: #F29F05; }
  .card.orange { background: #F27405; }
  .card.red { background: #DA3A2C; }
  
  /* FAQ */
  .faq details {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 2.75rem;
    font-weight: 500;
  }

  .message-map{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    width: 80%;
  }
  
  /* Map */
   .map {
    display: flex;
    width: 100%;
   }

  .map iframe {
    flex: 1;
    border: none;
  }
  
  /* Footer */

  .upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .logos-school-website {
    display: flex;
    flex-direction: column;
  }

  .logos{
    display: flex;
    flex-direction: row;
  }

  .school-website{
    background-color: #f27405;
    border-radius: 0;
    border: 1px solid #f27405;
    color:#f8f6f4;
  }
  
  .links {
    display: flex;
    flex-direction: column;
  }

  footer {
    background: #010A26;
    color: #FBFBFB;
    padding: 10px;
    text-align: center;
  }
  