:root {
    --design-width: 1440px;
    --columns: 12;
    --margin: 32px;
    --gutter: 32px;
    --column-width: calc((var(--design-width) - (var(--columns) - 1) * var(--gutter)) / var(--columns));
  }  

/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1E1E1E;
    background: #f8f6f4;
    letter-spacing: -3%;
    line-height: 1.3;
    height: auto;
  }
  
  /* Header */
  header {
    margin-left: calc(var(--column-width) + 2 * var(--gutter));
    display: flex;
    flex-direction: column;
  }

  .upper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .lower-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: var(--gutter);
    align-items: center;
  }

  nav {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 42px;
  }

  nav a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 72%;
    width: auto;
  }

  .school-name {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 120%;
  }



  .language-toggle {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  .language{
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 500;
  }

  #en{
    background-color: #f8f6f4;
    border-radius: 0;
    border: 1px solid #f27405;
    color:#f27405;
  }

  #fr{
    background-color: #f27405;
    border-radius: 0;
    border: 1px solid #f27405;
    color:#f8f6f4;
  } 

  /* Hero */
  .hero {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: start;
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
  }
  /* Info Cards */
  .info-cards {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
  }
  
  .card.blue { background: #122667; }
  .card.light-blue { background: #0B5DA7; }
  .card.yellow { background: #F29F05; }
  .card.orange { background: #F27405; }
  .card.red { background: #DA3A2C; }
  
  /* FAQ */
  .faq details {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 2.75rem;
    font-weight: 500;
  }

  .message-map{
    margin-left: calc(var(--column-width) + 2 * var(--gutter));
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

  }

  .message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
  }
  
  /* Map */
   .map {
    display: flex;
   }

  .map iframe {
    flex: 1;
    border: none;
  }
  
  /* Footer */

  .upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(var(--column-width) + 2 * var(--gutter));
    margin-top: calc(var(--column-width));
    margin-bottom: calc(var(--column-width));
    margin-right: calc(2*var(--column-width) + 2 * var(--gutter));;
    align-items: stretch;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .contact p{
    font-size: 1.125rem;
    font-weight: 400;
  }

  .logos-school-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2.22vw;
  }

  .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }



  .school-website{
    background-color: #f27405;
    border-radius: 4px;
    border: 1px solid #f27405;
    color:#f8f6f4;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    height: 4vw;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 130%;
  }

  .links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--gutter)/2);
  }

  footer {
    background: #010A26;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 0.875rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 62px;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
  }
  